#dashboard {
  padding: 0;
  .main-title {
    display: inline-block;
  }
  .calendar-icon {
    margin-right: 1rem;
  }
  .create-btn {
    float: right;
    clear: both;
    margin-right: 1.7rem;
    margin-top: 2rem;
  }
  .MuiTabs-indicator {
    background-color: #000;
  }
}
