#drawer {
  .drawer-header {
    padding-top: 3rem;
    padding-bottom: 4rem;
    text-align: center;
    background-color: #fff;
  
    .drawer-logo {
      width: 5rem;
      height: 6rem;
    }
  }
  
  .drawer-option {
    span {
      font-size: 1.2rem;
  
    }
  }
}