#match-tabs {
  .month-panel {
    background-color: #fff;
    .month-name {
      background-color: #747474;
      display: block;
      color: #fff;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
    }
  }
  .typography-tab-panel {
    .MuiBox-root {
      padding: 0;
    }
  }
  .match-item {
    .venados-logo {
      max-width: 3.4rem;
      max-height: 4.4rem;
    }
    .opponent-logo {
      max-width: 5.4rem;
      max-height: 5.4rem;
    }
    .info-block {
      min-width: 5rem;

      .date-day {
        font-size: 1.5rem;
      }

      .date-day-word {
        font-size: 1.2rem;
        line-height: 1;
      }
    }
    .info-team {
      max-width: 6rem;

      &.score {
        font-size: 2rem;
        @include respond-to(large) {
          font-size: 3rem;
        }
      }
      .team-name {
        margin-top: 1rem;
        font-size: 1.1rem;
        @include respond-to(large) {
          font-size: 1.3rem;
        }
        
      }
    }
    .match-dashboard {
      display: flex;
      margin-top: 2rem;
      margin-bottom: 4rem;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      padding-left: 1rem;
      padding-right: 1.5rem;
      @include respond-to(large) {
        padding-left: 4.5rem;
        padding-right: 5.5rem;
      }
    }
    .info-team.one {
      order: 1;
    }
    .info-team.two {
      order: 2;
    }
    .info-team.three {
      order: 3;
    }
    .info-team.four {
      order: 4;
    }
  }
}



