#match-tabs {
  .month-panel {
    padding-bottom: 4rem;
    background-color: #fff;
    .month-name {
      background-color: #747474;
      display: block;
      color: #fff;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
    }
  }
  .typography-tab-panel {
    .MuiBox-root {
      padding: 0;
    }
  }
}
