@import "variables";
@import "mixins";
@import "utils";
@import "header";
@import "drawer";
@import "dashboard";
@import "match-tabs";
@import "~antd/dist/antd.css";

html {
  font-size: 10px;
}

body {
  background-color: #fff;
}

ul {
  padding: 0;
}
a {
  text-decoration: none;
}

.ant-modal {
  width: 95%;
  @media (min-width: 768px) {
    width: 95% !important;
  }
  @media (min-width: 1024px) {
    width: 75rem !important;
  }

  @media (min-width: 1200px) {
    width: 85rem !important;
  }
}
